<footer class="py-4">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="col-5">
        <div class="footer-top-data d-flex gap-30 align-items-center">
          <img src="../../../assets/images/newsletter.png" alt="newsletter" />
          <h4 class="mb-0 text-white">Subscribe to our Newsletter</h4>
        </div>
      </div>
      <div class="col-7">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control py-2"
            placeholder="Your Email Address"
            aria-label="Your Email Address"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text p-1" id="basic-addon2">Subscribe</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-3">
  <div class="container xxl">
    <div class="row">
      <div class="col-4">
        <h5 class="text-white">Contact Us</h5>
        <div class="">
          <address class="text-white">
            Hno: 342 Near Somewhere, <br />
            Nairobi, Kenya <br />
            Pincode: 0100
          </address>
          <a href="tel: +254 0000000" class="mt-3 d-block mb-1 text-white"
            >+254 000000</a
          >
          <a href="mailto:abc@email.com" class="mt-2 d-block mb-0 text-white"
            >abc@email.com</a
          >
          <div class="social_icons d-flex align-items-center gap-30 mt-4">
            <a href="" class="text-white">
              <i class="bi bi-instagram fs-5"></i>
            </a>
            <a href="" class="text-white">
              <i class="bi bi-twitter-x fs-5"></i>
            </a>
            <a href="" class="text-white">
              <i class="bi bi-facebook fs-5"></i>
            </a>
            <a href="" class="text-white">
              <i class="bi bi-threads fs-5"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h5 class="text-white">Information</h5>
        <div class="footer-links d-flex flex-column">
          <a [routerLink]="['/']" class="text-white mb-1 py-2"
            >Privacy Policy</a
          >
          <a [routerLink]="['/']" class="text-white mb-1 py-2">Refund Policy</a>
          <a [routerLink]="['/']" class="text-white mb-1 py-2"
            >Shipping Policy</a
          >
          <a [routerLink]="['/']" class="text-white mb-1 py-2"
            >Terms & Conditions</a
          >
        </div>
      </div>
      <div class="col-3">
        <h5 class="text-white">Account</h5>
        <div class="footer-links d-flex flex-column">
          <a [routerLink]="['/']" class="text-white mb-1 py-2">About Us</a>
          <a [routerLink]="['/']" class="text-white mb-1 py-2">FAQs</a>
          <a [routerLink]="['/']" class="text-white mb-1 py-2">Contact</a>
          <a [routerLink]="['/']" class="text-white mb-1 py-2">Clothes</a>
        </div>
      </div>
      <div class="col-2">
        <h5 class="text-white">Quick Links</h5>
        <div class="footer-links d-flex flex-column">
          <a [routerLink]="['/']" class="text-white mb-1 py-2">Accesories</a>
          <a [routerLink]="['/']" class="text-white mb-1 py-2"
            >Computers & Phones</a
          >
          <a [routerLink]="['/']" class="text-white mb-1 py-2"
            >Home Appliances</a
          >
          <a [routerLink]="['/']" class="text-white mb-1 py-2">Clothes</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-4">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <p class="text-center mb-0 text-white">
          &copy; {{ currentYear }} All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
